body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    margin: auto;
    border: 1px solid black;

}

button {
    display: block;
    margin-top: 15px;
    padding: auto;
    background-color: red;
    color: white;
    border: 1px solid rgb(0, 0, 0);
    font-size: 27px;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
}